<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/admin/noticias"> <img [src]="logo" alt="" srcset=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngFor="let i of lista; ">
          <a [href]="i.url" class="nav-item nav-link active">
            <i [class]="i.icon"></i>{{i.name}}
          </a>
        </li>

        <li data-bs-toggle="modal" data-bs-target="#close"><a class="nav-item nav-link text-dark">Cerrar sesión</a></li>
      </ul>
    </div>

  </div>

</nav>
<div class="container-fluid row mx-auto justify-content-lg-start justify-content-md-start justify-content-sm-center">
  <div class="modal fade" id="close" tabindex="-1" aria-labelledby="closeLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content border-0 w-75 mx-auto">
        <div class="modal-body">
          <div class="mx-auto w-100">
            <i class="bi bi-exclamation-circle-fill text-danger text-center d-block" id="fs-5"></i>
          </div>
          <p class="text-center fs-4">¿Esta seguro que quiere cerrar sesión?</p>
        </div>
        <div class="modal-footer border-0">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger" (click)="logout()">Cerrar sesión</button>
        </div>
      </div>
    </div>
  </div>
